source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect

nuget FSharp.Core
nuget Giraffe
nuget Giraffe.SerilogExtensions
nuget Hocon.Extensions.Configuration
nuget Microsoft.VisualStudio.Azure.Containers.Tools.Targets 1.18.1
nuget Serilog
nuget Serilog.Expressions
nuget Serilog.Extensions.Hosting
nuget Serilog.Formatting.Compact
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.File
nuget serilog.sinks.seq
nuget thoth.json.net
nuget ThrottlingTroll